body {
    font-family: Arial, sans-serif;
  }
  
  #inputContent {
    padding: 5px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  #outputContent {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
  }
  